.profile {
  margin: 60px 0 111px 0;

  @include breakpoint(tablet) {
    position: relative;
    margin: 30px 0 70px 0;
  }

  &__content {
    margin: 0 auto;
    max-width: 1442px;

    @include breakpoint(tablet) {
      margin: 0 10px;
      max-width: 100%;
    }

    &_head {
      @extend %flex-between;
      padding-bottom: 96px;

      @include breakpoint(wide-max) {
        justify-content: center;
      }

      @include breakpoint(tablet) {
        position: relative;
        padding-bottom: 30px;
      }

      &_frame {
        border-color: $norland-blue-2;
      }
    }

    &_filter {
      padding-top: 95px;
      padding-bottom: 32px;

      @include breakpoint(desktop) {
        padding-top: 65px;
        padding-bottom: 15px;
      }
    }

    &_videos {
      display: grid;
      gap: 33px;
      grid-template-columns: repeat(3, minmax(0, 1fr));

      @include breakpoint(desktop) {
        gap: 20px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @include breakpoint(tablet) {
        grid-template-columns: none;
      }
    }
  }
}
