.btn {
  @extend %font-14-bold;
  width: 100%;
  padding: 9px;
  border-radius: 4px;

  &__small {
    max-width: 116px;
  }

  &__middle {
    max-width: 121px;
  }

  &__large {
    max-width: 135px;
  }

  &__primary {
    color: var(--button-color);
    border: 1px solid var(--button-border);
    background-color: var(--button-background);
  }

  &__secondary {
    color: var(--button-color);
    border: 1px solid var(--button-border-secondary);
    background-color: var(--button-background-secondary);
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
