.container {
  @extend %flex-between;
  @extend %font-24-large;
  color: $blue-dark;
  font-family: $Open-Sans;

  &__sort {
    position: relative;

    &_title {
      &_arrow {
        margin-left: 7px;
        transition: 0.3s;
        cursor: pointer;

        &_active {
          transform: rotate(180deg);
        }
      }
    }

    &_menu {
      @extend %flex-column;
      gap: 5px;
      width: 100%;
      padding: 5px 10px;
      display: none;
      position: absolute;
      border: 1px solid;

      &_open {
        display: flex;
      }
    }
  }
}
