.container {
  @extend %flex-between;
  @extend %font-24-large;
  color: $blue-dark;
  font-family: $Open-Sans;

  &__sort {
    position: relative;
    transition: 0.3s;

    &_active {
      .container__sort_title {
        border: 1px solid;
        border-bottom: none;
      }
    }

    &_title {
      @extend %flex-align;
      cursor: pointer;
      border: 1px solid transparent;

      &_arrow {
        margin-left: 7px;
        transition: 0.3s;
        cursor: pointer;

        &_active {
          transform: rotate(180deg);
        }
      }
    }

    &_menu {
      @extend %flex-column;
      gap: 5px;
      width: 100%;
      padding: 5px 10px;
      display: none;
      position: absolute;
      border: 1px solid;
      border-top: none;

      &_item {
        cursor: pointer;
      }

      &_open {
        display: flex;
      }
    }
  }
}
