.container {
  @extend %flex-between;
  @extend %font-24-large;
  color: $blue-dark;
  font-family: $Open-Sans;

  @include breakpoint(tablet) {
    font-size: 20px;
    line-height: 29px;
  }

  @include breakpoint(mobile-m) {
    font-size: 14px;
    line-height: 23px;
  }

  &__sort {
    position: relative;
    transition: 0.3s;

    &_active {
      .container__sort_title {
        border-bottom: none;
        border: 1px solid $blue-dark;
      }
    }

    &_title {
      @extend %flex-between;
      gap: 9px;
      cursor: pointer;
      transition: 0.3s;
      width: fit-content;
      padding: 0 10px 2px;
      border-bottom: none;
      border: 1px solid transparent;
      border-radius: 10px 10px 0 0;

      &_arrow {
        cursor: pointer;
        transition: 0.3s;

        &_active {
          transform: rotate(180deg);
        }
      }
    }

    &_menu {
      @extend %flex-column;
      width: 100%;
      opacity: 0;
      font-size: 20px;
      border-top: none;
      transition: 0.3s;
      position: absolute;
      text-align: center;
      visibility: hidden;
      background-color: $white;
      border: 1px solid $blue-dark;
      border-radius: 0 0 10px 10px;
      box-shadow: 0px 27px 28px 0px rgba(37, 40, 73, 0.45);

      @include breakpoint(tablet) {
        font-size: 18px;
      }

      @include breakpoint(mobile-m) {
        font-size: 14px;
      }

      &_item {
        cursor: pointer;
        transition: 0.3s;
        padding: 5px 10px;
        text-align: left;

        &:hover {
          color: $white;
          background: $blue-dark;
        }
      }

      &_open {
        opacity: 1;
        visibility: visible;
        z-index: 3;
      }
    }
  }

  &__count {
    @extend %flex-align;
    gap: 8px;

    span {
      @include breakpoint(tablet-m) {
        display: none;
      }
    }
    &_icon {
      display: none;

      @include breakpoint(tablet-m) {
        display: inline-block;
        width: 15px;
        margin-left: 10px;
      }
    }
  }
}
