.card {
  position: relative;
  max-width: 492px;
  min-height: 298px;
  border-radius: 20px;

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;

    &_img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    &_color {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: $blue-light;
    }
  }

  &__info {
    @extend %flex-column-between;
    position: relative;
    min-height: 298px;

    &_icon {
      margin-top: 23px;
      margin-right: 24px;
      align-self: flex-end;

      &_item {
        cursor: pointer;

        &_active {
          fill: $white;
        }
      }
    }

    &_description {
      @extend %flex-align;
      padding: 54px 0 28px 21px;
      border-radius: 0 0 16px 16px;
      background: linear-gradient(180deg, rgba(14, 39, 96, 0) 0%, #0e2760 100%);

      &_main {
        @extend %flex-column;
        margin-left: 12px;

        &_title {
          @extend %font-20-large-bold;
          color: $white;
          font-family: $Open-Sans;
        }

        &_watches {
          @extend %font-19-large;
          @extend %flex-align;
          gap: 3.5px;
          color: $white;
          font-family: $Open-Sans;
        }
      }
    }
  }
}
