.card {
  position: relative;
  cursor: pointer;
  max-width: 492px;
  min-height: 298px;
  border-radius: 20px;

  @include breakpoint(wide-max) {
    max-width: 100%;
  }

  @include breakpoint(tablet) {
    min-height: auto;
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;

    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;

      @include breakpoint(desktop) {
        object-fit: fill;
      }
    }

    &_color {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: $blue-light;
    }
  }

  &__info {
    @extend %flex-column-between;
    position: relative;
    min-height: 100%;

    &_icon {
      margin-top: 23px;
      margin-right: 24px;
      align-self: flex-end;

      @include breakpoint(tablet-m) {
        margin-top: 10px;
        margin-right: 10px;
      }

      @include breakpoint(mobile-m) {
        margin-top: 2px;
        margin-right: 10px;
      }

      svg {
        @include breakpoint(tablet-m) {
          width: 50px;
        }

        @include breakpoint(mobile-m) {
          width: 40px;
        }
      }

      &_item {
        cursor: pointer;

        &_active {
          fill: $white;
        }
      }
    }

    &_description {
      @extend %flex-align;
      padding: 54px 0 28px 21px;
      border-radius: 0 0 16px 16px;
      background: linear-gradient(180deg, rgba(14, 39, 96, 0) 0%, #0e2760 100%);

      @include breakpoint(tablet-m) {
        padding: 10px 0 20px 10px;
      }

      @include breakpoint(mobile-m) {
        padding: 5px 0 10px 5px;
      }

      &_main {
        @extend %flex-column;
        margin-left: 12px;

        &_title {
          @extend %font-20-large-bold;
          color: $white;
          font-family: $Open-Sans;

          @include breakpoint(tablet-m) {
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
          }

          @include breakpoint(mobile-m) {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
          }
        }

        &_watches {
          @extend %font-19-large;
          @extend %flex-align;
          gap: 3.5px;
          color: $white;
          font-family: $Open-Sans;

          @include breakpoint(tablet-m) {
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
          }

          @include breakpoint(mobile-m) {
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
          }

          svg {
            @include breakpoint(tablet-m) {
              width: 20px;
            }

            @include breakpoint(mobile-m) {
              width: 16px;
            }
          }
        }
      }
    }
  }
}
