.container {
  max-width: 384px;
  width: 100%;
  border-radius: 16px;
  background: #ffffff;
  border: 1px solid #ccc;

  &__content {
    @extend %flex-column;
    gap: 43px;
    padding: 40px 36px 38px 34px;

    &_item {
      @extend %flex-align;
      gap: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #252849;
      white-space: nowrap;
    }
  }
}
