.layout {
  display: flex;
  padding-right: 85px;

  &__header {
    padding: 53px 0 0;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
  }

  &__wrapper {
    flex: 1;
  }
}
