.layout {
  @extend %flex-justify-between;
  gap: 133px;
  margin: 0 auto;
  max-width: 1759px;

  @include breakpoint(wide-max) {
    display: block;
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0 -16px;
    background: $white;
    padding: 45px 16px 0;

    @include breakpoint(wide-max) {
      box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
    }

    @include breakpoint(tablet) {
      margin: 0 -16px;
      padding: 15px 16px 0;
    }
  }

  &__wrapper {
    width: 100%;

    @include breakpoint(wide-max) {
      padding: 0 20px;
    }

    @include breakpoint(tablet) {
      padding: 0 16px;
    }
  }

  &__navbar {
    @include breakpoint(wide-max) {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 70;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: saturate(180%) blur(5px);
      box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
      width: 100%;
    }

    @include breakpoint(tablet) {
      height: 80px;
    }
  }

  &__scroll {
    display: none;

    @include breakpoint(tablet-m) {
      position: fixed;
      opacity: 0.7;
      display: flex;
      width: 50px;
      left: 20px;
      height: 50px;
      bottom: 100px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      background-color: $white;
      box-shadow: 0px -3px 14px 0px rgba(0, 0, 0, 0.75);
    }
  }
}
