.container {
  @extend %flex-between;
  margin: 52px 0;

  &__block {
    display: flex;
    margin: 0 20px;
    gap: 32px;

    &__item {
      @extend %flex-center;
      cursor: pointer;
      color: #252849;
      padding: 12px 23px;
      border-radius: 8px;
      background-color: rgba(96, 128, 160, 0.05);

      &_active {
        background: #0e2760;
        color: $white;
      }
    }
  }
}

.filter {
  color: $white;
  z-index: 3;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
  position: relative;
  padding: 11.5px 26px;
  background: #0e2760;

  &__content {
    @extend %flex-align;
    gap: 16px;
    z-index: 3;
    position: relative;

    p {
      font-weight: 400;
      font-size: 24px;
      color: #ffffff;
      line-height: 33px;
      font-family: $Open-Sans;
    }

    &__close {
      right: 0;
      top: 70px;
      z-index: 1;
      height: 424px;
      width: 334px;
      display: none;
      position: absolute;
      border-radius: 8px;
      background: $white;
      border: 1px solid #cecece;
      padding: 23px 27px 24px 27px;

      &_list {
        @extend %flex-center-column;
        gap: 23px;
      }
    }

    &__open {
      display: block;
    }
  }
}
