.container {
  @extend %flex-between;
  position: relative;
  margin: 52px 0;

  @include breakpoint(desktop) {
    margin: 20px 0;
  }

  &__block {
    display: flex;
    gap: 32px;
    width: 100%;

    &_active {
      display: flex !important;
    }

    @include breakpoint(wide-max) {
      position: absolute;
      left: 0;
      top: 62px;
      z-index: 5;
      gap: 0;
      display: none;
      overflow: scroll;
      max-height: 200px;
      border-radius: 8px;
      flex-direction: column;
      background-color: $white;
      border: 1px solid $blue-dark;
      box-shadow: 0px 20px 50px -12px rgba(14, 39, 96, 0.75);

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      @extend %flex-center;
      @extend %font-24-large;
      cursor: pointer;
      color: $blue-dark;
      padding: 12px 23px;
      border-radius: 8px;
      font-family: $Open-Sans;
      background-color: $light-gray;

      @include breakpoint(wide-max) {
        font-size: 18px;
        border-radius: 0;
        padding: 11.5px 26px;
        justify-content: flex-start;
        background-color: transparent;
      }

      &_active {
        color: $white;
        background-color: $blue;
      }
    }
  }

  &__sort {
    @extend %font-24-large;
    position: relative;
    z-index: 3;
    color: $white;
    display: none;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    padding: 11.5px 26px;
    background-color: $blue;
    font-family: $Open-Sans;

    @include breakpoint(wide-max) {
      display: inline-block;
    }

    @include breakpoint(tablet) {
      padding: 5px 15px;
      font-size: 20px;
    }
  }
}

.filter {
  position: relative;
  z-index: 3;
  width: 100%;
  color: $white;
  cursor: pointer;
  max-width: 183px;
  user-select: none;
  border-radius: 8px;
  white-space: nowrap;
  padding: 11.5px 26px;
  background-color: $blue;

  @include breakpoint(tablet) {
    padding: 5px 15px;
  }

  &__content {
    @extend %flex-align;
    position: relative;
    gap: 16px;
    z-index: 3;

    p {
      @extend %font-24-large;
      color: $white;
      font-family: $Open-Sans;

      @include breakpoint(tablet) {
        font-size: 20px;
      }
    }

    &__close {
      right: 0;
      top: 70px;
      z-index: 1;
      height: 424px;
      width: 334px;
      display: none;
      position: absolute;
      border-radius: 8px;
      background-color: $white;
      border: 1px solid #cecece;
      padding: 23px 27px 24px 27px;

      @include breakpoint(tablet-m) {
        width: 265px;
      }

      &_list {
        @extend %flex-center-column;
        gap: 23px;
      }
    }

    &__open {
      display: block;
    }

    svg {
      @include breakpoint(tablet) {
        width: 20px;
      }
    }
  }
}

.search__field {
  @extend %flex-align;
  width: 100%;
  gap: 26px;
}
