.container {
  @extend %flex-between;
  margin: 52px 0;

  &__block {
    display: flex;
    margin: 0 20px;
    gap: 32px;

    &__item {
      @extend %flex-center;
      cursor: pointer;
      color: #252849;
      padding: 12px 23px;
      border-radius: 8px;
      background-color: rgba(96, 128, 160, 0.05);

      &_active {
        background: #0e2760;
        color: $white;
      }
    }
  }
}

.filter {
  color: $white;
  cursor: pointer;
  border-radius: 8px;
  padding: 11.5px 26px;
  background: #0e2760;
  user-select: none;
  position: relative;
  z-index: 3;

  &__content {
    @extend %flex-align;
    gap: 16px;
    position: relative;
    z-index: 3;

    p {
      font-weight: 400;
      font-size: 24px;
      color: #ffffff;
      line-height: 33px;
      font-style: normal;
      font-family: $Open-Sans;
    }

    &__close {
      right: 0;
      top: 70px;
      height: 0;
      width: 334px;
      position: absolute;
      border-radius: 8px;
      padding: 0;
      padding: 11.5px 26px;
      z-index: 1;
      background: $white;
      visibility: hidden;
      border: 1px solid #cecece;
      transition: all 0.3s ease-in;
    }

    &__open {
      height: 424px;
      transition: height 0.3s ease-out;
      visibility: visible;
    }
  }
}
