.guides {
  display: grid;
  gap: 32px 36px;
  margin-bottom: 63px;
  grid-template-columns: repeat(3, minmax(492px, 1fr));

  &__empty {
    @extend %flex-center;
    @extend %font-24-large-bold;
    margin-top: 100px;
    color: $blue;
    font-family: $Poppins;
  }

  @include breakpoint(wide-max) {
    margin-bottom: 90px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint(desktop) {
    gap: 10px;
    grid-template-columns: none;
  }

  @include breakpoint(tablet-m) {
    margin-bottom: 40px;
  }
}
