.drop {
  @extend %flex-column-between;
  color: black;
  max-width: 280px;
  min-height: 110px;
  border-radius: 16px;
  padding: 20px 22px 23px 19px;
  border: 1px solid $dark-aqua-opacity;

  &__title {
    font-family: $Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #252849;
  }

  &__main {
    font-family: $Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    @extend %flex-between;
  }
}
