.drop {
  @extend %flex-column-between;
  color: black;
  max-width: 280px;
  min-height: 110px;
  border-radius: 16px;
  padding: 20px 22px 23px 19px;
  border: 1px solid $blue-gray-opacity-02;

  &__title {
    @extend %font-20;
    color: $blue-dark;
    font-family: $Inter;
  }

  &__main {
    @extend %font-24;
    @extend %flex-between;
    font-family: $Inter;
  }
}
