.container {
  &__content {
    @extend %flex-align;
    gap: 13px;

    &_user {
      &_img {
        width: 69px;
        height: 69px;
        border: 4px solid $norland-blue;

        div {
          padding: 3px !important;
        }
      }
    }

    &_box {
      @include breakpoint(tablet-m) {
        position: relative;
      }

      svg {
        height: 20px;
      }

      &_info {
        @extend %flex-align;
        @extend %font-23-bold;
        gap: 10px;
        font-family: $Open-Sans;
        color: #000000;
        margin-bottom: 5px;
      }

      &_icons {
        @extend %flex-align;
        gap: 42px;

        &_time {
          @include breakpoint(mobile-m) {
            position: absolute;
            top: 7px;
            right: -35px;
          }
        }

        div {
          @extend %flex-align;
          @extend %font-20-large;
          color: $gray;
          font-family: $Open-Sans;
        }

        &_replies {
          gap: 11px;
        }

        &_reply {
          gap: 7px;
        }
      }
    }
  }

  &__chat {
    .container__content {
      @include breakpoint(tablet) {
        gap: 5px;
      }

      &_user_img {
        @include breakpoint(tablet) {
          width: 50px;
          height: 50px;
          border-width: 2px;
        }
      }

      &_box {
        &_info {
          @include breakpoint(tablet) {
            gap: 5px;
            font-size: 16px;
          }
        }
      }
    }
  }

  // Comment responsive

  &__comments {
    .container__content {
      @include breakpoint(desktop) {
        gap: 5px;
      }

      &_user_img {
        @include breakpoint(desktop) {
          width: 70px;
          height: 70px;
          border-width: 2px;
        }

        @include breakpoint(tablet-m) {
          width: 50px;
          height: 50px;
        }
      }

      &_box {
        &_info {
          @include breakpoint(desktop) {
            gap: 5px;
            font-size: 16px;
          }

          @include breakpoint(tablet) {
            font-size: 14px;
          }

          .edit__field {
            @extend %font-20-large;
            border: none;
            outline: none;
          }
        }

        &_icons {
          @include breakpoint(desktop) {
            font-size: 16px;
            gap: 10px;
          }

          @include breakpoint(tablet) {
            font-size: 14px;
          }

          svg {
            width: 20px;
          }

          div {
            @include breakpoint(desktop) {
              font-size: 18px;
              line-height: 25px;
            }

            @include breakpoint(tablet) {
              font-size: 16px;
              line-height: 23px;
            }

            @include breakpoint(tablet-m) {
              font-size: 14px;
              line-height: 22px;
            }

            @include breakpoint(mobile-m) {
              font-size: 12px;
              line-height: 20px;
            }
          }

          &_replies {
            @include breakpoint(desktop) {
              gap: 7px;
            }
          }

          &_reply {
            @include breakpoint(desktop) {
              gap: 5px;
            }
          }
        }
      }
    }
  }

  .options {
    position: relative;
    z-index: 10;
    cursor: pointer;

    &__menu {
      position: absolute;
      opacity: 0;
      top: 50px;
      right: -20px;
      font-size: 16px;
      overflow: hidden;
      visibility: hidden;
      border-radius: 8px;
      background-color: $white;
      box-shadow: 2px 1px 17px -1px rgba(0, 0, 0, 0.75);

      &_active {
        visibility: visible;
        opacity: 1;
      }

      &__item {
        padding: 15px;
        transition: 0.6s;
        white-space: nowrap;

        &:hover {
          background-color: $black;
          color: $white;
        }
      }
    }

    &__icon {
      @include breakpoint(tablet-m) {
        width: 14px;
        height: 18px;
      }

      @include breakpoint(mobile-m) {
        width: 12px;
        height: 15px;
      }
    }
  }
}
