.login {
  flex: 1 1 auto;
  @extend %flex-end-center;

  @include breakpoint(wide) {
    justify-content: center;
  }

  &__content {
    background: $white;
    padding: 45px;
    border-radius: 20px;
    width: 100%;
    max-width: 618px;
    margin: 25px 0;

    @include breakpoint(wide) {
      margin: 20px 0;
    }

    @include breakpoint(tablet-m) {
      padding: 15px;
    }

    &_logo {
      @extend %flex-center-column;
      gap: 16px;
      margin-bottom: 30px;
    }

    &_form {
      @extend %flex-column;
      gap: 30px;

      @include breakpoint(tablet-m) {
        gap: 15px;
      }

      input {
        @extend %font-24;
        border-radius: 8px;
        border-color: $light-gray;
        padding: 15px 46px 15px 22px;

        @include breakpoint(tablet-m) {
          font-size: 18px;
        }

        &::placeholder {
          color: $blue-dark;
          font-family: $inter;
        }
      }

      button {
        @extend %font-24;
        border-radius: 8px;
        color: white;
        background: $red-light;
        padding: 12px 0 15px 0;
        min-width: 100%;
        margin: 0;
        font-family: $inter;

        @include breakpoint(tablet-m) {
          font-size: 18px;
        }
      }
    }

    &_sign {
      padding-top: 35px;
      @extend %flex-center-column;
      border-top: 1px solid $blue-gray;
      gap: 11px;

      &_answer {
        cursor: pointer;
        @extend %font-24;

        @include breakpoint(tablet-m) {
          font-size: 18px;
        }
      }

      &_item {
        text-decoration: underline;
        min-width: 100%;
        text-transform: capitalize !important;
        text-align: center;

        &_txt {
          @extend %font-22;
          color: $red-light;
          border-bottom: 1px solid $red-light;

          @include breakpoint(tablet-m) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
