.container {
  width: 100%;
  max-width: 211px;
  border-radius: 40px;
  padding: 12px 19px 11px 19px;
  background-color: $bluestone;

  &__content {
    @extend %flex-align;
    @extend %font-22-large;
    gap: 3px;
    color: $gray;
    white-space: nowrap;
    font-family: $Open-Sans;
  }
}
