.login {
  @extend %flex-end-center;
  flex: 1 1 auto;

  @include breakpoint(wide) {
    justify-content: center;
  }

  &__content {
    @extend %flex-column;
    background-color: $white;
    width: 100%;
    padding: 45px;
    margin: 25px 0;
    max-width: 618px;
    max-height: 600px;
    border-radius: 20px;

    @include breakpoint(wide) {
      margin: 20px 0;
    }

    @include breakpoint(tablet-m) {
      padding: 15px;
    }

    &_logo {
      @extend %flex-center-column;
      gap: 16px;
      margin-bottom: 30px;
    }

    &_form {
      gap: 30px;
      @extend %flex-column;

      @include breakpoint(tablet-m) {
        gap: 15px;
      }

      input {
        @extend %font-24;
        padding: 8px 15px;
        border-radius: 8px;
        padding: 15px 0 15px 22px;
        border-color: $light-gray-fade;

        @include breakpoint(tablet-m) {
          font-size: 18px;
        }

        &::placeholder {
          color: $blue-dark;
          font-family: $inter;
        }
      }

      button {
        @extend %font-24;
        margin: 0;
        color: white;
        min-width: 100%;
        border-radius: 8px;
        font-family: $inter;
        padding: 12px 0 15px 0;
        background-color: $red-light;

        @include breakpoint(tablet-m) {
          font-size: 18px;
        }
      }
    }

    &_sign {
      @extend %flex-center-column;
      gap: 11px;
      width: 100%;
      padding: 80px 0 5px 0;

      &_answer {
        @extend %font-24;
        cursor: pointer;

        @include breakpoint(tablet-m) {
          font-size: 18px;
        }
      }

      &_item {
        min-width: 100%;
        text-align: center;
        text-decoration: underline;
        text-transform: capitalize !important;

        &_txt {
          @extend %font-22;
          color: $red-light;
          border-bottom: 1px solid $red-light;

          @include breakpoint(tablet-m) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
