.login {
  @extend%flex-end-center;
  flex: 1 1 auto;

  @include breakpoint(wide) {
    justify-content: center;
  }

  &__content {
    background: $white;
    padding: 45px;
    border-radius: 20px;
    width: 100%;
    max-width: 618px;
    margin: 25px 0;
    @extend%flex-column;
    max-height: 600px;

    @include breakpoint(wide) {
      margin: 20px 0;
    }

    @include breakpoint(tablet-m) {
      padding: 15px;
    }

    &_logo {
      @extend%flex-center-column;
      gap: 16px;
      margin-bottom: 30px;
    }

    &_form {
      @extend%flex-column;
      gap: 30px;

      @include breakpoint(tablet-m) {
        gap: 15px;
      }

      input {
        border-radius: 8px;
        padding: 8px 15px;
        border-color: $input-border-color;
        padding: 15px 0 15px 22px;
        @extend%text-24;

        @include breakpoint(tablet-m) {
          font-size: 18px;
        }

        &::placeholder {
          color: $input-text-color;
          font-family: $inter;
        }
      }

      button {
        border-radius: 8px;
        padding: 12px 0 15px 0;
        color: white;
        background: $red;
        min-width: 100%;
        margin: 0;
        font-family: $inter;
        @extend%text-24;

        @include breakpoint(tablet-m) {
          font-size: 18px;
        }
      }
    }

    &_sign {
      padding: 80px 0 5px 0;
      width: 100%;
      @extend%flex-center-column;
      border-top: 1px solid $dark-aqua;
      gap: 11px;

      &_answer {
        cursor: pointer;
        @extend%text-24;

        @include breakpoint(tablet-m) {
          font-size: 18px;
        }
      }

      &_item {
        text-decoration: underline;
        min-width: 100%;
        text-transform: capitalize !important;
        text-align: center;

        &_txt {
          @extend%text-22;
          color: $red;
          border-bottom: 1px solid $red;

          @include breakpoint(tablet-m) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
