.container {
  width: 100%;
  max-width: 538px;
  border-radius: 8px;
  padding: 19px 0px 22px 19px;
  border: 1px solid #dfe5f4;

  &__small {
    width: 100%;
    max-width: 258px !important;

    @include breakpoint(wide-max) {
      max-width: 100% !important;
    }
  }

  &__content {
    @extend %font-24;
    border: none;
    width: 100%;
    height: 30px;
    resize: none;
    padding: 0px;
    color: $blue-dark;
    margin-bottom: 0px;
    font-family: $inter;

    @include breakpoint(tablet-m) {
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 5px !important;
    }

    &::placeholder {
      color: $blue-dark;
    }
  }

  &__title {
    @extend %font-20;
    font-family: $inter;
    margin-bottom: 14px;

    @include breakpoint(tablet-m) {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 5px !important;
    }
  }
}
