.forum {
  @extend %flex-justify-between;
  gap: 86px;
  margin-top: 61px;

  &__posts {
    @extend %flex-column;
    gap: 66px;
  }

  &__top {
    &_content {
      @extend %flex-column;
      gap: 23px;
      width: 100%;
      max-width: 520px;
      border-radius: 16px;
      padding: 25px 31px 28px 31px;
      background: $blue-gray-opacity-01;

      &_title {
        @extend %font-24;
        color: $gray;
        margin-bottom: 4px;
        letter-spacing: 0.5;
        font-family: $inter;
      }
    }
  }
}
