$blue: #0e2760;
$gray: #6080a0;
$black: #000000;
$white: #ffffff;
$green: #2a462d;
$danger: #8d0000;
$red-light: #f43149;
$blue-dark: #252849;
$blue-gray: #95aec7;
$light-gray-fade: #bebfc8;
$dark-blue-magenta: #3f3d56;
$blue-light: rgba(14, 39, 96, 0.4);
$bluestone: rgba(96, 128, 160, 0.1);
$light-gray: rgba(96, 128, 160, 0.05);
$white-light: rgba(255, 255, 255, 0.2);
$norland-blue: rgba(149, 174, 199, 0.3);
$bluestone-light: rgba(96, 128, 160, 0.5);
$norland-blue-1: rgba(149, 174, 199, 0.1);
$norland-blue-2: rgba(149, 174, 199, 0.2);
$faded-bluestone-light: rgba(96, 128, 160, 0.2);
