// Main Colors
$red: #f43149;
$white: #ffffff;
$danger: #8d0000;
$primary: #faffff;
$dark-aqua: #95aec7;
$input-text-color: #252849;
$input-border-color: #bebfc8;
$dark-aqua-opacity: rgba(149, 174, 199, 0.2);
$input-border-opacity: rgba(96, 128, 160, 0.2);
$input-background-opacity: rgba(96, 128, 160, 0.05);
