$blue: #0e2760;
$gray: #6080a0;
$white: #ffffff;
$green: #2a462d;
$danger: #8d0000;
$red-light: #f43149;
$blue-dark: #252849;
$blue-gray: #95aec7;
$light-gray: #bebfc8;
$dark-blue-magenta: #3f3d56;
$blue-opacity-4: rgba(14, 39, 96, 0.4);
$gray-opacity-1: rgba(96, 128, 160, 0.1);
$gray-opacity-5: rgba(96, 128, 160, 0.5);
$white-opacity-3: rgba(255, 255, 255, 0.3);
$white-opacity-2: rgba(255, 255, 255, 0.2);
$gray-opacity-05: rgba(96, 128, 160, 0.05);
$input-border-opacity: rgba(96, 128, 160, 0.2);
$blue-gray-opacity-01: rgba(149, 174, 199, 0.1);
$blue-gray-opacity-02: rgba(149, 174, 199, 0.2);
$blue-gray-opacity-03: rgba(149, 174, 199, 0.3);
$input-background-opacity: rgba(96, 128, 160, 0.05);
