.login {
  @extend %flex-end-center;
  flex: 1 1 auto;

  @include breakpoint(tablet-l) {
    justify-content: center;
  }

  &__content {
    width: 100%;
    padding: 45px;
    margin: 25px 0;
    max-width: 618px;
    border-radius: 20px;
    background-color: $white;

    @include breakpoint(tablet-l) {
      margin: 20px 0;
    }

    @include breakpoint(tablet-m) {
      padding: 15px;
    }

    &_logo {
      @extend %flex-center-column;
      gap: 14px;
      margin-bottom: 30px;
    }

    &_form {
      @extend %flex-column;
      gap: 30px;

      @include breakpoint(tablet-m) {
        gap: 15px;
      }

      input {
        @extend %font-24;
        border-radius: 8px;
        border-color: $light-gray-fade;
        padding: 15px 46px 15px 22px;

        @include breakpoint(tablet-m) {
          font-size: 18px;
        }

        &::placeholder {
          color: $blue-dark;
          font-family: $inter;
        }
      }

      button {
        @extend %font-24;
        margin: 0;
        color: white;
        min-width: 100%;
        border-radius: 8px;
        font-family: $inter;
        padding: 12px 0 15px 0;
        background-color: $red-light;

        @include breakpoint(tablet-m) {
          font-size: 18px;
        }
      }
    }

    &_keep {
      @extend %font-22;
      @extend %flex-between;
      color: $blue-gray;
      margin: 23px 11px 40px;

      @include breakpoint(mobile-m) {
        flex-direction: column !important;
      }

      @include breakpoint(tablet-m) {
        font-size: 16px;
      }

      @media (max-width: 450px) {
        flex-direction: column;
        gap: 10px;
      }

      &_save {
        @extend %flex-align;
        gap: 10px;

        &_btn {
          input {
            width: 36px;
            height: 36px;
          }
        }
      }

      &_item {
        @extend %flex-align;
      }

      a {
        @extend %font-20;
        justify-content: flex-end;

        @include breakpoint(tablet-m) {
          font-size: 16px;
        }
      }

      &_forgot {
        white-space: nowrap;

        &_txt {
          text-transform: capitalize;
          border-bottom: 1px solid $blue-gray;
        }
      }
    }

    &_sign {
      @extend %flex-center-column;
      gap: 11px;
      padding-top: 35px;
      border-top: 1px solid $blue-gray;

      &_answer {
        @extend %font-24;
        cursor: pointer;

        @include breakpoint(tablet-m) {
          font-size: 18px;
        }
      }

      &_item {
        min-width: 100%;
        text-align: center;
        text-decoration: underline;
        text-transform: capitalize !important;

        &_txt {
          @extend %font-22;
          color: $red-light;
          border-bottom: 1px solid $red-light;

          @include breakpoint(tablet-m) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
