.container {
  @extend %flex-align;

  &__info {
    margin-left: 15px;
    margin-right: 71px;

    &_username {
      @extend %flex-align;
      @extend %font-24-large-bold;
      gap: 10px;
      color: $blue-dark;
      margin-bottom: 5px;
      font-family: $Open-Sans;
    }

    &_description {
      @extend %font-22-large;
      color: $blue-dark;
      font-family: $Open-Sans;
    }
  }

  &__watches {
    @extend %flex-align;
    gap: 14px;
  }
}
