.navbar {
  @extend %flex-center-column;
  position: sticky;
  top: 0;
  padding: 53px 83px 20px;

  &__logo {
    @extend %flex-center;
    padding-bottom: 35px;

    &_icon {
      width: 65px;
      height: 48px;
    }
  }

  &__links {
    @extend %flex-center-column;
    gap: 52px;
    width: 100%;
    padding: 60px 0;
    border-top: 1px solid $norland-blue-2;
    border-bottom: 1px solid $norland-blue-2;

    &_item {
      @extend %flex-center;
      width: 66px;
      height: 66px;
      border-radius: 50%;

      &_active {
        @extend %flex-center;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        background-color: #0e2760;

        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }
  &__logout {
    cursor: pointer;
    margin: 30px 0;

    &__wrapper {
      @extend %flex-center;
    }
  }
}
