.navbar {
  @extend %flex-center-column;
  position: sticky;
  top: 0;
  transition: 0.6s;
  padding: 53px 83px 20px;

  &__focused {
    padding: 53px 133px 20px 20px;
  }

  &__logo {
    @extend %flex-center;
    padding-bottom: 35px;

    &_icon {
      width: 65px;
      height: 48px;
      cursor: pointer;
    }
  }

  &__links {
    @extend %flex-center-column;
    gap: 52px;
    width: 100%;
    padding: 60px 0;
    border-top: 1px solid $norland-blue-2;
    border-bottom: 1px solid $norland-blue-2;

    &_box {
      @extend %flex-center;
      position: relative;

      &_title {
        @extend %font-20;
        position: absolute;
        opacity: 0;
        width: 0px;
        color: $white;
        right: -110px;
        transition: 0.3s;
        overflow: hidden;
        border-radius: 8px;
        visibility: hidden;
        font-family: $inter;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 8px 16px 11px 14px;
        background-color: $red-light;

        &_active {
          opacity: 1;
          width: 100px;
          visibility: visible;
        }
      }
    }

    &_item {
      @extend %flex-center;
      width: 66px;
      height: 66px;
      border-radius: 50%;

      &_active {
        @extend %flex-center;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        background-color: #0e2760;

        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }
  &__logout {
    cursor: pointer;
    margin: 30px 0;

    &__wrapper {
      @extend %flex-center;
    }
  }
}
