.navbar {
  @extend %flex-center-column;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: 0.6s;
  padding: 53px 20px 0 20px;

  @include breakpoint(wide-max) {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    padding: 25px 20px;
  }

  @include breakpoint(tablet) {
    position: relative;
    height: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__logo {
    @extend %flex-center;
    padding-bottom: 35px;

    @include breakpoint(wide-max) {
      display: none;
    }

    &_icon {
      width: 65px;
      height: 48px;
      cursor: pointer;
    }
  }

  &__links {
    @extend %flex-center-column;
    gap: 24px;
    width: 100%;
    padding: 60px 0;
    border-top: 1px solid $norland-blue-2;

    @include breakpoint(wide-max) {
      padding: 0;
      border: none;
      flex-direction: row;
      justify-content: space-around;
    }

    @include breakpoint(tablet) {
      position: absolute;
      left: 0;
      gap: 15px;
      padding: 0 10px;
      width: max-content;
    }

    &_box {
      @extend %flex-center;
      position: relative;
      width: 66px;
      height: 66px;
      overflow: hidden;
      border-radius: 50%;

      &_title {
        @extend %font-20;
        position: absolute;
        opacity: 0;
        width: 0px;
        left: 90px;
        padding: 0px;
        color: $white;
        transition: 0.3s;
        border-radius: 8px;
        visibility: hidden;
        font-family: $inter;
        white-space: nowrap;
        background-color: $red-light;

        &_active {
          @media (min-width: 1600px) {
            opacity: 1;
            padding: 8px 16px 11px 14px;
            visibility: visible;
            width: fit-content;
          }
        }
      }
    }

    &_item {
      @extend %flex-center;
      width: 100%;
      height: 100%;

      svg {
      }

      &_active {
        @extend %flex-center;
        width: 100%;
        height: 100%;
        background-color: $blue;

        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }

  &__logout {
    cursor: pointer;
    margin: 30px 0;

    &__wrapper {
      @extend %flex-center;
    }
  }
}
