.video {
  position: relative;
  height: 298px;
  max-width: 459px;
  border-radius: 16px;

  &__item {
    position: relative;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  &__icon {
    position: absolute;
    top: 22px;
    right: 25px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 34px rgba(0, 0, 0, 0.431));

    &:last-child {
      fill: $white;
      width: 40px;
      height: 41px;
    }
  }
}
