.container {
  width: 100%;
  max-width: 258px;
  border-radius: 16px;
  border: 1px solid #dfe5f4;
  padding: 19.5px 0 22.5px 18.5px;

  &__content {
    &_title {
      @extend %font-20;
      color: $blue-dark;
      font-family: $inter;
      margin-bottom: 14px;
    }

    &_info {
      @extend %font-24;
      color: $blue-dark;
      font-family: $inter;
    }
  }
}
