.top__card {
  position: relative;
  font-family: $inter;

  @include breakpoint(wide-max) {
    min-width: 440px;
  }

  @include breakpoint(tablet-m) {
    min-width: 300px;
  }

  &_img {
    height: 215px;

    @include breakpoint(wide-max) {
      height: auto;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  &_absolute {
    bottom: 0;
    width: 100%;
    height: 96px;
    position: absolute;
    border-radius: 12px;
    padding: 7px 21px 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

    &_box {
      @extend %flex-align;

      &_image {
        @extend %flex-center;
        width: 69px;
        height: 69px;
        border-radius: 50%;
        margin-right: 13px;
        border: 4px solid $white-light;

        @include breakpoint(tablet-m) {
          margin-right: 5px;
        }
      }

      &_user {
        .username {
          @extend %font-20-large-bold;
          color: $white;
          font-family: $Open-Sans;

          @include breakpoint(tablet) {
            font-size: 18px;
            line-height: 24px;
          }

          @include breakpoint(tablet-m) {
            font-size: 16px;
            line-height: 22px;
          }
        }

        .nickname {
          @extend %font-19;
          color: $white;
          font-family: $inter;

          @include breakpoint(tablet) {
            font-size: 17px;
            line-height: 20px;
          }

          @include breakpoint(tablet-m) {
            font-size: 15px;
            line-height: 18px;
          }
        }
      }
    }
  }
}
