.container {
  width: 100%;
  max-width: 258px;
  border-radius: 16px;
  border: 1px solid #dfe5f4;
  padding: 19px 23.5px 22px 19.5px;
  box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.051);

  @include breakpoint(wide-max) {
    max-width: 100%;
  }

  &__content {
    &_title {
      @extend %font-20;
      color: $blue-dark;
      margin-bottom: 14px;
      font-family: $inter;

      @include breakpoint(tablet) {
        font-size: 18px;
      }
    }

    &_hours {
      @extend %font-24;
      @extend %flex-between;
      max-height: 29px;
      max-width: 213px;
      color: $blue-dark;
      font-family: $inter;

      @include breakpoint(wide-max) {
        max-width: 100%;
      }

      @include breakpoint(tablet) {
        font-size: 16px;
      }

      &_item {
        @extend %flex-align;
        position: relative;
        cursor: pointer;
        border: 1px solid transparent;

        @include breakpoint(tablet) {
          padding: 5px 7px;
        }

        &_hour,
        &_minute,
        &_type {
          z-index: 100;
          border-bottom: none;
          background-color: $white;
          border: 1px solid $blue-dark;
        }
        &_hour {
          .container__content_hours_icon {
            transform: rotate(180deg);
            transition: 0.3s;
          }

          .container__content_hours_item_list {
            display: block;
          }
        }

        &_minute {
          .container__content_hours_icon {
            transform: rotate(180deg);
            transition: 0.3s;
          }

          .container__content_hours_item_list {
            display: block;
          }
        }

        &_type {
          .container__content_hours_icon {
            transition: 0.3s;
            transform: rotate(180deg);
          }

          .container__content_hours_item_list {
            display: block;
            width: 77.58px;
          }
        }

        &_list {
          position: absolute;
          top: 29px;
          left: -1px;
          display: none;
          font-size: 16px;
          max-height: 100px;
          overflow-y: scroll;
          background-color: $white;
          min-width: calc(100% + 2px);
          border-radius: 0 0 16px 16px;
          border: 1px solid $blue-dark;
          border-top: none;

          p {
            @extend %flex-center-column;
            cursor: pointer;
            padding: 5px 10px;

            @include breakpoint(tablet) {
              padding: 5px 6px;
              font-size: 14px;
            }

            &:hover {
              color: $white;
              background-color: black;
            }
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }

        .types__menu {
          max-width: calc(100% + 2px);
        }
      }

      &_icon {
        margin-left: 3px;

        @include breakpoint(tablet) {
          width: 10px;
        }
      }
    }
  }
}
