.container {
  width: 100%;
  max-width: 258px;
  border-radius: 16px;
  border: 1px solid #dfe5f4;
  padding: 19px 23.5px 22px 19.5px;
  box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.051);

  &__content {
    &_title {
      margin-bottom: 14px;
      font-family: $inter;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #252849;
    }

    &_hours {
      @extend %flex-between;
      font-family: $inter;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #252849;
      max-height: 29px;
      max-width: 213px;

      &_item {
        @extend %flex-align;
        position: relative;
        cursor: pointer;
        border: 1px solid transparent;

        &_hour,
        &_minute,
        &_type {
          border-bottom: none;
          border: 1px solid $dark-aqua-opacity;
        }
        &_hour {
          .container__content_hours_icon {
            transform: rotate(180deg);
            transition: 0.3s;
          }

          .container__content_hours_item_list {
            display: block;
          }
        }

        &_minute {
          .container__content_hours_icon {
            transform: rotate(180deg);
            transition: 0.3s;
          }

          .container__content_hours_item_list {
            display: block;
          }
        }

        &_type {
          .container__content_hours_icon {
            transition: 0.3s;
            transform: rotate(180deg);
          }

          .container__content_hours_item_list {
            display: block;
            width: 77.58px;
          }
        }

        &_list {
          position: absolute;
          top: 29px;
          left: -1px;
          display: none;
          font-size: 16px;
          max-height: 100px;
          border-top: none;
          overflow-y: scroll;
          background: $white;
          min-width: calc(100% + 2px);
          border-radius: 0 0 16px 16px;
          border: 1px solid $dark-aqua-opacity;

          p {
            @extend %flex-center-column;
            cursor: pointer;
            padding: 5px 10px;

            &:hover {
              background: black;
              color: $white;
            }
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }

        .types__menu {
          max-width: calc(100% + 2px);
        }
      }

      &_icon {
        margin-left: 3px;
      }
    }
  }
}
