.container {
  width: 100%;
  max-width: 501px;
  border-radius: 16px;
  border: 1px solid $blue-gray-opacity-02;

  &__content {
    @extend %flex-center-column;
    padding: 38px 116.5px 44px 117.5px;

    &_head {
      padding-bottom: 13px;

      &_img {
        width: 117px;
        height: 118px;
      }
    }

    &_info {
      @extend %flex-center-column;
      gap: 5px;
      padding-bottom: 24px;

      &_username {
        @extend %font-26;
        font-family: $Open-Sans;
        color: $blue-dark;
      }

      &_location {
        @extend %font-22-large;
        color: $red-light;
        font-family: $Open-Sans;
      }
    }

    &_status {
      border-radius: 16px;
      background: $gray-opacity-05;

      &_inner {
        @extend %flex-align;
        gap: 13px;
        padding: 12px 19px 13px 23.85px;

        p {
          @extend %font-23;
          color: $blue-dark;
          white-space: nowrap;
          font-family: $Open-Sans;
        }
      }
    }
  }
}
