.btn {
  text-transform: capitalize !important;
  &__small {
    max-width: 168px;
  }
  &__middle {
    max-width: 116px;
  }
  &__large {
    max-width: 116px;
  }
  &__primary {
    background: transparent;
    color: var(--link-color);
    border: 1px solid var(--link-border);
    text-transform: uppercase;
    @extend %text-14-bold;
  }
}
