.container {
  width: 100%;
  max-width: 258px;
  transition: 0.3s;
  overflow: hidden;
  position: relative;

  &__large {
    max-width: 280px;
  }

  &_open {
    overflow: visible;

    .container__content {
      border-radius: 16px 16px 0 0;
    }

    .container__content_main_icon {
      transform: rotate(180deg);
    }
  }

  &__content {
    z-index: 5;
    width: 100%;
    position: relative;
    border-radius: 16px;
    border: 1px solid $dark-aqua-opacity;
    padding: 19.5px 21px 21.5px 18px;

    &_title {
      font-family: $inter;
      font-size: 20px;
      color: #252849;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 14px;
    }

    &_main {
      @extend %flex-between;
      font-family: $inter;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #252849;

      &_icon {
        transition: 0.3s;
        cursor: pointer;
      }
    }

    &_list {
      left: 0;
      z-index: 6;
      opacity: 0;
      min-width: 100%;
      transition: 0.3s;
      background: $white;
      position: absolute;
      visibility: hidden;
      border: 1px solid #ccc;

      &_inner {
        color: black;
        overflow-y: scroll;
        max-height: 131px;
        background: $white;
        border-radius: 0 0 16px 16px;

        &::-webkit-scrollbar {
          display: none;
        }

        &_item {
          font-size: 18px;
          transition: 0.3s;
          font-family: $Open-Sans;
          padding: 19.5px 21px 21.5px 18px;

          &:hover {
            color: $white;
            background: #252849;
          }
        }
      }

      &_active {
        opacity: 1;
        max-height: 100px;
        visibility: visible;
        border-radius: 0 0 16px 16px;
      }
    }
  }
}
