.container {
  position: relative;
  width: 100%;
  max-width: 258px;
  transition: 0.3s;
  overflow: hidden;

  &__small {
    @include breakpoint(wide-max) {
      max-width: 100%;
    }

    .container__content {
      &_title {
        @include breakpoint(tablet) {
          font-size: 18px;
        }
      }

      &_main {
        &_head {
          font-size: 16px;
        }
      }
    }
  }

  &__large {
    max-width: 280px;

    @include breakpoint(tablet-m) {
      max-width: 240px;
    }
  }

  &_open {
    overflow: visible;

    .container__content {
      border-bottom: none;
      border: 1px solid $blue-dark;
      border-radius: 16px 16px 0 0;
    }

    .container__content_main_icon {
      transform: rotate(180deg);
    }
  }

  &__content {
    position: relative;
    z-index: 5;
    width: 100%;
    border-radius: 16px;
    padding: 19.5px 21px 21.5px 18px;
    border: 1px solid $norland-blue-2;

    @include breakpoint(mobile-m) {
      padding: 15px;
    }

    &_title {
      @extend %font-20;
      font-family: $inter;
      color: $blue-dark;
      margin-bottom: 14px;

      @include breakpoint(tablet-m) {
        font-size: 16px;
      }
    }

    &_main {
      @extend %font-24;
      @extend %flex-between;
      cursor: pointer;
      font-family: $inter;
      color: $blue-dark;

      @include breakpoint(tablet-m) {
        font-size: 18px;
      }

      &_icon {
        transition: 0.3s;
      }
    }

    &_list {
      left: 0;
      z-index: 6;
      opacity: 0;
      min-width: 100%;
      transition: 0.3s;
      position: absolute;
      visibility: hidden;
      background-color: $white;
      border: 1px solid $norland-blue-2;

      &_inner {
        color: black;
        max-height: 100%;
        overflow-y: scroll;
        background-color: $white;
        border-radius: 0 0 14px 14px;

        &::-webkit-scrollbar {
          display: none;
        }

        &_item {
          font-size: 18px;
          transition: 0.3s;
          font-family: $Open-Sans;
          padding: 19.5px 21px 22px 18px;

          &:hover {
            color: $white;
            background-color: $blue-dark;
          }
        }
      }

      &_active {
        opacity: 1;
        height: 132px;
        border-top: none;
        visibility: visible;
        border: 1px solid $blue-dark;
        border-radius: 0 0 16px 16px;

        &_small {
          height: 145px;

          @include breakpoint(tablet) {
            height: 120px;
            background: $white;
          }
        }
      }
    }
  }
}
