.container {
  width: 100%;
  max-width: 491px;
  border-radius: 16px;
  padding: 18px 25px 20px 23px;
  border: 1px solid $blue-gray-opacity-02;

  &__content {
    @extend %flex-align;

    &_img {
      @extend %flex-center;
      width: 135px;
      height: 100px;
      margin-right: 14px;

      &_item {
        width: 100%;
        height: 100%;
        border: 4px solid $blue-gray-opacity-02;
      }
    }

    &__box {
      @extend %flex-between;
      width: 100%;

      &_icon {
        opacity: 0.4;
      }
    }

    &__user {
      &_name {
        @extend %font-25-bold;
        font-family: $Open-Sans;
        color: $gray;
      }

      &_status {
        @extend %font-23;
        color: $gray;
        font-family: $Open-Sans;

        &_active {
          color: $red-light;
        }
      }
    }
  }
}
