.container {
  width: 100%;
  cursor: pointer;
  max-width: 491px;
  border-radius: 16px;
  padding: 18px 25px 20px 23px;
  border: 1px solid $norland-blue-2;

  @include breakpoint(wide-max) {
    max-width: 100%;
  }

  @include breakpoint(tablet-m) {
    padding: 10px;
  }

  &__content {
    @extend %flex-align;

    &_img {
      @extend %flex-center;
      min-width: 100px;
      height: 100px;
      margin-right: 14px;
      border-color: $norland-blue-2;

      @include breakpoint(tablet-m) {
        margin-right: 5px;
        min-width: 70px;
        height: 70px;
      }
    }

    &__box {
      @extend %flex-between;
      width: 100%;

      &_icon {
        opacity: 0.4;
        cursor: pointer;
        transition: 0.3s;

        @include breakpoint(tablet-m) {
          width: 25px;
        }

        @include breakpoint(mobile-m) {
          width: 18px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    &__user {
      &_name {
        @extend %flex-align;
        @extend %font-25-bold;
        gap: 6px;
        color: $gray;
        font-family: $Open-Sans;

        @include breakpoint(tablet-m) {
          font-size: 20px;
          line-height: 29px;
        }

        @include breakpoint(mobile-m) {
          font-size: 15px;
          line-height: 25px;
        }
      }

      &_status {
        @extend %font-23;
        color: $gray;
        font-family: $Open-Sans;

        @include breakpoint(tablet-m) {
          font-size: 16px;
          line-height: 22px;
        }

        @include breakpoint(mobile-m) {
          font-size: 12px;
          line-height: 18px;
        }

        &_active {
          color: $red-light;
        }
      }
    }
  }
}
