.header {
  @extend %flex-between;
  position: relative;
  gap: 16px;
  z-index: 1000;
  padding: 0 40px 25px 40px;
  border-bottom: 1px solid $norland-blue-2;

  @include breakpoint(tablet) {
    padding: 0 0 20px 0;
  }

  &__title {
    @extend %flex-align;
    gap: 18px;

    span {
      @extend %font-24;
      color: $blue-dark;
      text-transform: capitalize;

      @include breakpoint(wide-max) {
        display: none;
      }
    }

    &_logo {
      width: 193px;

      @include breakpoint(wide-max) {
        display: none;
      }
    }

    &_icon {
      display: none;
      width: 66px;
      height: 66px;
      cursor: pointer;

      @include breakpoint(wide-max) {
        display: block;
      }
    }
  }

  &__user {
    @extend %flex-align;
    gap: 36px;

    @include breakpoint(tablet) {
      gap: 0px;
    }

    &_frame {
      @extend %flex-align;
      gap: 10px;
      cursor: pointer;
      position: relative;

      &_border {
        border: 3px solid $norland-blue-2 !important;

        @include breakpoint(tablet) {
          display: none;
        }
      }

      &_arrow {
        transition: 0.1s;

        &_rotate {
          transform: rotate(180deg);
        }

        @include breakpoint(tablet) {
          display: none;
        }
      }
    }

    &_add {
      cursor: pointer;

      @include breakpoint(tablet) {
        display: none;
      }
    }

    &_ring {
      cursor: pointer;

      @include breakpoint(tablet) {
        display: none;
      }
    }
  }

  &__events {
    position: absolute;
    top: 100px;
    z-index: 50;
    right: 188px;
    display: none;
    overflow: hidden;
    transition: 0.6s;

    @include breakpoint(tablet) {
      display: block;
      position: fixed;
      left: 0;
      opacity: 1;
      top: 1528px;
      width: 100%;
      transition: 1s;
      transition: 0.6s;
      visibility: hidden;
      max-height: min-content;
    }

    &_active {
      display: block;

      @include breakpoint(tablet) {
        top: calc(100% - 170px - 116px) !important;
        visibility: visible;
        opacity: 1;
      }

      @include breakpoint(tablet-m) {
        top: calc(100% - 170px - 70px) !important;
      }

      @include breakpoint(mobile-m) {
        top: calc(100% - 170px - 83px) !important;
      }
    }
  }

  &__user_dropdown {
    position: absolute;
    right: 0px;
    top: 100px;
    z-index: 50;
    display: none;

    @include breakpoint(tablet) {
      display: block;
      position: fixed;
      left: 0;
      opacity: 1;
      top: 1200px;
      width: 100%;
      transition: 0.6s;
      visibility: visible;
    }

    &_active {
      display: block;

      @include breakpoint(tablet) {
        display: block;
        position: fixed;
        left: 0;
        width: 100%;
        top: calc(100% - 254px - 116px) !important;
      }

      @include breakpoint(tablet-m) {
        top: calc(100% - 254px - 70px) !important;
      }

      @include breakpoint(mobile-m) {
        top: calc(100% - 254px - 83px) !important;
      }
    }
  }

  .menu__absolute {
    display: none;

    @include breakpoint(tablet) {
      display: block;
    }
  }
}
