.status {
  width: 42px;
  height: 24px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  background: #ccc;
  border-radius: 10px;
  border-radius: 16px;

  &__active {
    background: $red-light;

    &_btn {
      left: 22px !important;
    }
  }

  &__btn {
    position: absolute;
    left: 6px;
    top: 5px;
    width: 14px;
    height: 14px;
    transition: 0.3s;
    border-radius: 50%;
    background: white;
  }
}
