.container {
  @extend %flex-between;

  &__filters {
    @extend %flex-align;
    gap: 23px;
    cursor: pointer;

    @include breakpoint(tablet) {
      gap: 10px;
    }

    &_btn {
      @extend %flex-center;
      @extend %font-24-large;
      color: $white;
      padding: 12px 24px;
      border-radius: 16px;
      font-family: $Open-Sans;
      background-color: $norland-blue-2;

      @include breakpoint(tablet) {
        font-size: 20px;
        line-height: 25px;
        padding: 10px 15px;
      }

      @include breakpoint(tablet-m) {
        font-size: 16px;
        padding: 5px 8px;
        line-height: 21px;
        border-radius: 5px;
      }
    }

    &_add {
      @extend %flex-align;
      @extend %font-24-large;
      gap: 9px;
      color: $white;
      cursor: pointer;
      border-radius: 16px;
      font-family: $Open-Sans;
      background-color: $red-light;
      padding: 10px 18px 10px 19px;

      @include breakpoint(tablet) {
        gap: 5px;
        font-size: 20px;
        padding: 8px 13px;
        line-height: 25px;

        svg {
          width: 25px;
        }
      }

      @include breakpoint(tablet-m) {
        svg {
          width: 20px;
          height: 20px;
        }
      }

      input {
        display: none;
      }

      &_title {
        @include breakpoint(tablet-m) {
          display: none;
        }
      }
    }
  }
}
