.container {
  @extend %flex-between;

  &__filters {
    @extend %flex-align;
    gap: 23px;
    cursor: pointer;

    &_btn {
      @extend %flex-center;
      @extend %font-24-large;
      font-family: $Open-Sans;
      color: $white;
      padding: 12px 24px;
      border-radius: 16px;
      background-color: $norland-blue-2;
    }

    &_add {
      @extend %flex-align;
      @extend %font-24-large;
      gap: 9px;
      color: $white;
      cursor: pointer;
      border-radius: 16px;
      font-family: $Open-Sans;
      background-color: $red-light;
      padding: 10px 18px 10px 19px;

      input {
        display: none;
      }
    }
  }
}
