.lives {
  display: grid;
  gap: 32px 55px;
  margin: 40px 0 183px 0;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @include breakpoint(wide-max) {
    gap: 20px;
    margin-bottom: 90px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint(desktop) {
    gap: 10px;
    grid-template-columns: none;
  }

  @include breakpoint(tablet-m) {
    margin-bottom: 40px;
  }
}
