.container {
  width: 100%;
  height: 363px;
  max-width: 855px;

  @include breakpoint(wide-max) {
    position: absolute;
    opacity: 0.4;
    max-width: 501px;
    filter: blur(4px);
  }

  @include breakpoint(tablet-m) {
    height: 266px;
    max-width: 100%;
  }

  @include breakpoint(mobile-m) {
    height: 207px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }
}
