.container {
  @extend %flex-align;
  gap: 13px;
  position: relative;

  &__content {
    @extend %flex-between;
    width: 100%;
    max-width: 719px;
    border-radius: 16px;
    border: 1px solid #cccc;
    padding: 18px 19px 15px 20px;
    background-color: $bluestone;

    div {
      width: 100%;

      input {
        @extend %font-24-large;
        padding: 0;
        width: 100%;
        outline: none;
        border: none;
        color: $blue-gray;
        padding-right: 5px;
        font-family: $Open-Sans;
        background-color: transparent;

        &::placeholder {
          color: $blue-gray;
        }
      }
    }

    &_smile {
      cursor: pointer;
    }
  }

  &__emoji {
    position: absolute;
    top: -410px;
    right: 67px;
    z-index: 10;

    &_small {
      top: -310px;
    }
  }

  &__icon {
    @extend %flex-align;
    cursor: pointer;
  }
}
