.container {
  @extend %flex-align;
  position: relative;
  gap: 13px;

  &__reply {
    @extend %font-12;
    position: absolute;
    top: -20px;
    left: 20px;
    color: $blue-gray;
    font-family: $Open-Sans;
  }

  &__icon {
    &_item {
      @include breakpoint(tablet) {
        width: 35px;
      }
    }
  }

  &__content {
    @extend %flex-between;
    width: 100%;
    max-width: 719px;
    border-radius: 16px;
    border: 1px solid #cccc;
    padding: 18px 19px 15px 20px;
    background-color: $bluestone;

    @include breakpoint(wide-max) {
      max-width: 100%;
    }
    @include breakpoint(tablet) {
      padding: 5px;
      font-size: 18px;
      border-radius: 6px;
    }

    div {
      width: 100%;

      input {
        @extend %font-24-large;
        padding: 0;
        width: 100%;
        outline: none;
        border: none;
        color: $blue-gray;
        padding-right: 5px;
        font-family: $Open-Sans;
        background-color: transparent;

        @include breakpoint(tablet) {
          font-size: 16px;
        }

        &::placeholder {
          color: $blue-gray;
        }
      }
    }

    &_smile {
      cursor: pointer;
    }
  }

  // Modals Emoji

  &__emoji {
    position: absolute;
    left: 0;
    z-index: 10;
    transform: scaleY(0);
    transform-origin: 0 100%;
    top: calc(100% - 350px - 74px);
    transition: 0.3s ease-in-out;

    @include breakpoint(tablet) {
      top: calc(100% - 350px - 55px);
    }

    &_active {
      transform: scaleY(1);
      transition: 0.3s ease-in;
    }

    em-emoji-picker {
      height: 350px;
    }

    &_small {
      left: 0;
      transform: scaleY(0);
      transform-origin: 0 100%;
      top: calc(100% - 64px - 370px);
      transition: 0.2s left ease-in-out, 1s transform ease-in-out;

      @include breakpoint(wide-max) {
        top: calc(100% - 380px);
      }

      @include breakpoint(tablet) {
        top: calc(100% - 355px);
      }

      &_active {
        left: 0;
        transform: scaleY(1);
        transition: 0.3s transform ease-in, 1s left ease-in;

        @include breakpoint(wide-max) {
          transform: scaleY(1);
          transition: 0.3s transform ease-in;
        }
      }

      em-emoji-picker {
        @include breakpoint(wide-max) {
          height: 300px;
          max-width: 270px;
        }

        @include breakpoint(tablet) {
          width: 100%;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }

      div {
        &:first-child {
          max-width: min-content;
        }
      }
    }
  }

  &__icon {
    @extend %flex-align;
    cursor: pointer;
  }

  &__global {
    .container__content {
      @include breakpoint(tablet) {
        padding: 5px;
        font-size: 18px;
        max-width: 300px;
        border-radius: 6px;
      }
      div {
        input {
          @include breakpoint(tablet) {
            font-size: 16px;
          }
        }
      }
    }
    .container__icon_item {
      @include breakpoint(tablet) {
        width: 35px;
      }
    }
  }
}
