.container {
  @extend %font-16;
  @extend %flex-align;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 15px;
  border: 1px solid;
  transition: all 0.3s;

  &__isLabel {
    padding: 11px 9px;
  }
  &__small {
    padding: 0px;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: var(--input-border);
    background-color: var(--input-active);
  }

  &_with_icon {
    padding-right: 50px;
  }

  &__inner {
    @extend %flex-align;
    gap: 6px;
    flex-direction: column;
    align-items: flex-start;

    &__label {
      @extend %font-14;
      color: var(--font);
    }
    &__error {
      margin-bottom: 0;
    }

    &_disabled {
      background-color: gray;
    }
  }

  &__error {
    border-color: $red-light !important;

    &__text {
      @extend %font-14;
      margin-top: 4px;
      color: $red-light;
    }
  }

  &__right_icon {
    position: absolute;
    z-index: 5;
    right: 21px;
    cursor: pointer;
    top: calc(50% - 8px);
  }
}
.input {
  position: relative;
  width: 100%;
  color: var(--font);

  &::placeholder {
    color: var(--placeholder);
  }
}
