.container {
  border-radius: 16px;
  background: $gray-opacity-05;

  &__content {
    padding: 35px 136px 35px 36px;

    &_title {
      @extend %font-28;
      color: $blue-dark;
      margin-bottom: 10px;
      font-family: $Open-Sans;
    }

    &_description {
      @extend %font-24-large;
      color: $blue-dark;
      font-family: $Open-Sans;
    }
  }
}
