.slider {
  max-width: 100vw;
  width: 100%;
  overflow: hidden;

  @include breakpoint(tablet-m) {
    min-width: 100%;
  }

  ul {
    position: absolute;
    bottom: 25px !important;

    li {
      button {
        &::before {
          color: $white;
          font-size: 15px;
        }
      }
    }
  }
}
