.container {
  width: 100%;
  max-width: 854px;
  border-radius: 16px;
  font-family: $inter;
  background: $white;
  padding: 34px 34px 26px 34px;
  filter: drop-shadow(0px 0px 28px rgba(0, 0, 0, 0.031));

  &__content {
    @extend %flex-between;
    margin-bottom: 10px;

    &__header {
      @extend %flex-align;

      &__box {
        @extend %flex-center;
        width: 69px;
        height: 69px;
        border-radius: 50%;
        margin-right: 14px;
        border-color: $blue-gray-opacity-02;
      }

      &__selects {
        @extend %flex-between;
        max-width: 200px;
        width: 100%;

        &_icon {
          width: 23px;
          height: 30px;
          cursor: pointer;
        }

        &__time {
          color: $blue-gray;
        }
      }

      &__title {
        &_nick {
          @extend %font-19;
          color: $green;
          font-family: $inter;
        }

        &_username {
          @extend %flex-align;
          @extend %font-20-large-bold;
          font-family: $Open-Sans;
          color: $dark-blue-magenta;

          svg {
            margin-left: 8px;
          }
        }
      }
    }

    &__text {
      @extend %font-21;
      color: $green;
    }

    &__image {
      margin: 12px 0 35px 0;
    }

    &__footer {
      @extend %flex-around;

      p {
        color: $gray;
        margin: 0 10px;
      }

      &__blog {
        @extend %flex-center;
      }
    }
  }
}
