.footer {
  &__content {
    @extend %flex-between;
    color: $white;
    max-width: 100%;
    padding: 32.5px 0;
    margin: auto 84px;
    background-color: transparent;
    border-top: 1px solid $white-light;

    @include breakpoint(wide) {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    @include breakpoint(wide-l) {
      max-width: 100%;
      margin: 0 16px;
    }

    @include breakpoint(tablet-m) {
      gap: 10px;
    }

    &_logo {
      @extend %font-22;
      @include breakpoint(wide-l) {
        font-size: 18px !important;
      }
    }

    &_links {
      @extend %flex-between;

      @include breakpoint(tablet-m) {
        flex-direction: column;
        gap: 10px;
      }

      .link {
        @extend %font-22;
        @extend %flex-align;
        padding: 0 25px;

        @include breakpoint(wide-l) {
          font-size: 18px !important;
        }

        &_globe {
          margin-right: 7px;
        }

        &_arrow {
          margin-left: 6px;
        }

        &:not(:last-child) {
          border-right: 2px solid $white;

          @include breakpoint(tablet-m) {
            border: none;
          }
        }
      }
    }

    &_privacy {
      @extend %flex-between;

      @include breakpoint(tablet-m) {
        gap: 5px;
      }

      &_item {
        @extend %font-22;
        max-width: max-content;
        width: 100%;

        @include breakpoint(wide) {
          font-size: 18px !important;
        }

        &:not(:last-child) {
          padding-right: 25px;
        }

        &:last-child {
          padding-left: 25px;
        }

        &:not(:last-child) {
          border-right: 2px solid $white;

          @include breakpoint(tablet-m) {
            border: none;
          }
        }
      }
    }
  }
}
