.footer {
  &__content {
    margin: auto 84px;
    max-width: 100%;
    color: white;
    padding: 32.5px 0;
    border-top: 1px solid white;
    @extend%flex-between;
    background: transparent;

    @include breakpoint(wide) {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    @include breakpoint(wide-l) {
      max-width: 100%;
      margin: 0 16px;
    }

    @include breakpoint(tablet-m) {
      gap: 10px;
    }

    &_logo {
      @extend%text-22;
      @include breakpoint(wide-l) {
        font-size: 18px !important;
      }
    }

    &_links {
      @extend%flex-between;

      @include breakpoint(tablet-m) {
        flex-direction: column;
        gap: 10px;
      }

      .link {
        padding: 0 25px;
        @extend%flex-align;
        @extend%text-22;

        @include breakpoint(wide-l) {
          font-size: 18px !important;
        }

        &_globe {
          margin-right: 7px;
        }

        &_arrow {
          margin-left: 6px;
        }

        &:not(:last-child) {
          border-right: 2px solid $white;

          @include breakpoint(tablet-m) {
            border: none;
          }
        }
      }
    }

    &_privacy {
      @extend%flex-between;

      @include breakpoint(tablet-m) {
        gap: 5px;
      }

      &_item {
        @extend%text-22;
        max-width: max-content;
        width: 100%;

        @include breakpoint(wide) {
          font-size: 18px !important;
        }

        &:not(:last-child) {
          padding-right: 25px;
        }

        &:last-child {
          padding-left: 25px;
        }

        &:not(:last-child) {
          border-right: 2px solid $white;

          @include breakpoint(tablet-m) {
            border: none;
          }
        }
      }
    }
  }
}
