.radio {
  @extend %flex-center;
  padding: 7px;
  border: 1px solid #ccc;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 50%;
  background-color: $white;
  box-shadow: 1px 1px 1px #ccc inset;

  @include breakpoint(tablet-m) {
    width: 25px;
    height: 25px;
    padding: 3px;
  }

  &__btn {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ccc;

    &_active {
      background-color: $red-light;
    }
  }
}
