.container {
  width: 1222px;
  border-radius: 16px;
  background-color: $white;

  @include breakpoint(wide-max) {
    max-width: 100%;
  }

  @include breakpoint(tablet-m) {
    display: flex;
    border-radius: 0px;
    justify-content: center;
  }

  @include breakpoint(tablet-m) {
    display: block;
  }

  &__content {
    padding: 50px 50px 48px;

    @include breakpoint(tablet-m) {
      padding: 30px;
    }

    @include breakpoint(mobile-m) {
      padding: 30px 15px;
    }

    &_head {
      @extend %font-28-large;
      font-family: $Poppins;
      color: $blue-dark;
      text-align: center;
      margin-bottom: 31px;

      @include breakpoint(tablet) {
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 15px;
      }
    }

    &_main {
      display: flex;
      gap: 46px;
      width: 100%;
      margin-bottom: 48px;

      @include breakpoint(tablet) {
        flex-direction: column;
        gap: 10px;
      }

      &_left {
        @extend %flex-column;
        gap: 30px;
        width: 100%;
        max-width: 538px;

        @include breakpoint(wide-max) {
          gap: 10px;
        }

        &_item {
          @extend %flex-justify-between;

          @include breakpoint(wide-max) {
            flex-direction: column;
            gap: 10px;
          }
        }
      }

      &_right {
        @extend %flex-column;
        gap: 30px;
        width: 100%;
        max-width: 538px;

        @include breakpoint(wide-max) {
          gap: 10px;
        }

        &_item {
          @extend %flex-justify-between;

          @include breakpoint(wide-max) {
            gap: 10px;
            flex-direction: column;
          }
        }
      }
    }

    &_footer {
      @extend %flex-center;
      gap: 16px;

      &_close {
        color: $blue-dark !important;
        background: $white !important;
        border: 1px solid $blue-dark !important;
      }

      &_submit {
        border: none !important;
        color: $white !important;
        background: $red-light !important;
      }

      button {
        @extend %font-24-large;
        cursor: pointer;
        padding: 12px 40px;
        border-radius: 16px;
        max-width: fit-content;
        font-family: $Open-Sans;

        @include breakpoint(mobile-m) {
          padding: 5px 20px;
          font-size: 16px;
        }
      }
    }
  }
}
